python-midi>=0.2.4
mido>=1.2.8
madmom>=0.15.1
matplotlib>=2.0.2
music21>=3.1.0
numpy>=1.13.1
opencv-python>=3.1.0
scikit-learn>=0.17.1
pyyaml>=0.1.6
pdfminer
python-ly>=0.9.4
git+git://github.com/hajicj/muscima#egg=muscima
abjad>=2.21
scikit-image>=0.13
tqdm>=4.19.5
dtw>=1.3
